/* Splash / Loading Overlay */
.loading-overlay {
  position: absolute;
  top: 0; left: 0;
  z-index: 100;
  width: 100vw; height: 100vh;
  display: grid; place-items: center;
  overflow: hidden;
  background: transparent;

  .door {
    position: absolute;
    top: 0; bottom: 0;
    width: 65vw; height: 100vh;
    transition: transform .9s cubic-bezier(.65,.05,.36,1), opacity .3s ease;
    will-change: transform, opacity;
  }
  .door.left  { left: -10%; transform: translateX(0%); }
  .door.right { right: -10%; transform: translateX(0%); }

  &.opening {
    .door.left  { transform: translateX(-100%); }
    .door.right { transform: translateX(100%); }
  }

  .content {
    position: relative;
    text-align: center;
    user-select: none;
    pointer-events: none;
    transform: translateY(-8vh);
  }

  .title {
    font-family: 'CyberAlert';
    font-weight: 800;
    letter-spacing: .08em;
    font-size: 2em;
    color: var(--background-color);
    margin-bottom: 18px;
  }

  .bar { display: flex; align-items: center; gap: 16px; justify-content: center; }
  .bar .percent {
    font-family: 'JetBrains Mono', monospace;
    font-size: clamp(12px, 1.6vw, 18px);
    background: var(--background-color);
    color: var(--primary-color);
    padding: 4px 10px;
    border-radius: 6px;
  }

  .bar-track {
    width: min(64vw, 680px);
    height: 22px;
    background: var(--background-color);
    border: 6px solid var(--primary-color);
    border-radius: 999px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 0 0 2px var(--background-color);
    display: flex;
    align-items: center;

  }

  .bar-fill {
    --p: 0;              /* [0..1] */
    position: relative;
    width: 100%;
    height: 80%;
    margin: 2%;
    // align-self: stretch;
    border-radius: 999px;
    background: var(--primary-color);
    // background: red;

    transform-origin: left center;
    transform: scaleX(clamp(0, var(--p, 0), 1));
    transition: transform 200ms cubic-bezier(.22,.61,.36,1);
  }
}


