.terminal {
  color: #000000;
   background-color: #EDE52B;
  //background-color: red;

  border: 1px solid;
  padding: 1rem;
  overflow: hidden;
  font-size: 0.6rem;
}

.code-display {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.code-display::-webkit-scrollbar {
  display: none;
}

pre {
  margin: 0;
  white-space: pre-wrap;
//   line-height: 15px;
}
