.svg-container {
    position: relative;
    width: 100%;
    height: 100%;

    svg {
        width: 100%;
        height: 100%;
        display: block;
        
        path {
            transition: all 0.3s ease; // Animation fluide pour tous les changements
        }
    }
}

#onglet {

    /*FLEXBOX*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*Position*/
    position: relative;
    top: 8%;
    padding: 0.5% 3%;
    width: 36%;
    height: 7%;

    /*Font*/
    font-size: 1.1em;
    font-weight: 600;
    user-select: none;
    /* empêche la sélection du texte */

    /*Test*/
    // background-color: rgba(137, 43, 226, 0.649);
}

#Handle {
    position: absolute;
    top: 3%;
    left: 40%;
    width: 55%;
    height: 10%;
    color: var(--primary-color);

    /*Font*/
    font-size: 0.8em;
    font-weight: 100;
    user-select: none;
    text-align: center;

    /*Centrage vertical*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*Test*/
    // background-color: rgba(16, 171, 255, 0.602);
}

#text-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.language-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    img {
        width: 10%;
        margin : 2% 3%; 
        user-select: none;
    }


    .test {
        // background-color: rgba(255, 0, 0, 0.55);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .progress-bar {
        width: 50%;
        height: 60%;
        background-color: var(--background-color);
        margin-left: 3%;
        padding-left: 3%;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        font-size: 0.8em;
    }

    .arrow {
        width: 5%;
        margin : 2% 3%; 
        transition: transform 0.3s ease; // Animation fluide de 0.3 secondes
    }
}

.language-description {
    padding-left: 20%;
    // background-color: rgba(255, 0, 0, 0.295);
    transition: all 0.4s ease; // Animation fluide pour tous les changements
    overflow: hidden; // Cache le contenu qui dépasse
    height: 0; // Hauteur par défaut (fermée)
    opacity: 0; // Transparent par défaut

    ul {
        list-style-type:"-> ";
        padding: 0;
        margin: 0;
    }

    &.open {
        height: auto; // Hauteur quand ouvert (ajuste selon ton contenu)
        opacity: 1; // Complètement visible
        padding: 10px 20%; // Ajoute un peu de padding pour l'espacement
    }
  }