@use 'variables' as *;

//----- SKILLS -----
.tabLoisirsSkills { //Position de la carte
  position: absolute;
  width: 100%; //Taille de la carte

  /*Test*/
  //background-color: blueviolet;
}

svg { // Positionner le SVG par rapport à son parent
  position: absolute;
}

.cv-card { //Taille et la position de la carte
  width: 100%; /* La carte prend 100% de la largeur dispo */
  // max-width: 700px; /* Mais jamais plus de 600px */
  height: auto; /* Hauteur s’adapte à son contenu */
}

#SkillsCard { //Comportenent des élements a l"interieur de la carte
  /*-----FLEXBOX-----*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //overflow: hidden;

  font-size: 1.5rem;

  /*Test*/
  //background-color: rgb(0, 255, 0)

  .number { //Couleur des nombres
    color: #A49F26;
  }
}

//----- LOISIRS -----
.LoisirCard { //Comportement des icons dans loisirs
  /*-----FLEXBOX-----*/
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  

  /*----- POSITION -----*/
  p{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

  img{
      display: block;
      margin: 0 auto;
      margin-top: 10px;
  }

  /*Test*/
  // background-color: aqua;
}

.tabCard { //Comportement dans les onglets

  /*-----FLEXBOX-----*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /*Others*/
  user-select: none; /* empêche la sélection du texte */
  height: 100%; /* force le bloc à faire 40px de haut */
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  /*Test*/
  //background-color: aqua;
}

.bandeau-onglet{
  /*----- FLEXBOX -----*/

  width: 100%;
  height: 1.05vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /*----- POSITION -----*/
  position :absolute;
  z-index: 3; //Le selector est toujours devant par rapport au carte avec un Z-index 1 et 2
  top: 0.25vw;
  left: 0.25vw;
  font-size: 0.7vw ;

  /*----- OTHERS -----*/
  user-select: none; /* empêche la sélection du texte */
  
  /*----- TEST -----*/
  // background-color: rgba(248, 5, 5, 0.3);
}

#selectorTab1{
  cursor: pointer;
  /*----- FLEXBOX -----*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /*----- POSITION -----*/
  width: 22%;
  margin-left: 8px;
  margin-right: 25px;

  //Test
  //background-color:rgba(64, 183, 192, 0.5);
}

#selectorTab2{
  cursor: pointer;
  /*----- FLEXBOX -----*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /*----- POSITION -----*/
  width: 22%;
  //Test
  // background-color: rgba(4, 40, 243, 0.5);
}

#Handle{
  cursor : grab;
  margin-left: 15px;
  margin-top: 15px;
  width: 40%;
  height: 20px;

  //Test
  // background-color: chocolate;
}

#QrDeco{
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin: 10px;

  /*Test*/
  // background-color: bisque;
  width: 30%;
}

#Loisir{
  display: flex;
  flex-direction: row;
  
  /*Test*/
  // background-color: greenyellow;
}