<p>user-info-card works!</p>
<img src="./assets/media/icons/icons8-cv-50 (1).png" alt="WOW" class="" />
<svg class= cv-card width="862" height="295" viewBox="0 0 862 295" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M814.699 16H560.94V49.15H827.3V25.9019L814.699 16Z" fill="black" stroke="black" stroke-width="5"/>
    <mask id="mask0_69_2" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="558" y="13" width="272" height="39">
    <path d="M814.698 16H560.939V49.15H827.299V25.9019L814.698 16Z" fill="black" stroke="black" stroke-width="5"/>
    </mask>
    <g mask="url(#mask0_69_2)">
    <rect x="798.152" y="-44" width="386" height="12.425" transform="rotate(30 798.152 -44)" fill="#EDE52B"/>
    <rect x="745.152" y="-44" width="386" height="12.425" transform="rotate(30 745.152 -44)" fill="#EDE52B"/>
    <rect x="691.152" y="-44" width="386" height="12.425" transform="rotate(30 691.152 -44)" fill="#EDE52B"/>
    <rect x="644.152" y="-39" width="386" height="12.425" transform="rotate(30 644.152 -39)" fill="#EDE52B"/>
    <rect x="599.152" y="-33" width="386" height="12.425" transform="rotate(30 599.152 -33)" fill="#EDE52B"/>
    <rect x="549.152" y="-28" width="386" height="12.425" transform="rotate(30 549.152 -28)" fill="#EDE52B"/>
    <rect x="504.152" y="-22" width="386" height="12.425" transform="rotate(30 504.152 -22)" fill="#EDE52B"/>
    <rect x="448.152" y="-22" width="386" height="12.425" transform="rotate(30 448.152 -22)" fill="#EDE52B"/>
    <rect x="411.152" y="-11" width="386" height="12.425" transform="rotate(30 411.152 -11)" fill="#EDE52B"/>
    <rect x="379.152" y="5" width="386" height="12.425" transform="rotate(30 379.152 5)" fill="#EDE52B"/>
    <rect x="352.152" y="16" width="386" height="12.425" transform="rotate(30 352.152 16)" fill="#EDE52B"/>
    </g>
    <path d="M814.699 16H560.94V49.15H827.3V25.9019L814.699 16Z" stroke="black" stroke-width="5"/>
    <path d="M590.759 16H337V49.15H603.36V25.9019L590.759 16Z" fill="black" stroke="black" stroke-width="5"/>
    <mask id="mask1_69_2" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="334" y="13" width="272" height="39">
    <path d="M590.758 16H337V49.15H603.359V25.9019L590.758 16Z" fill="black" stroke="black" stroke-width="5"/>
    </mask>
    <g mask="url(#mask1_69_2)">
    <rect x="574.212" y="-44" width="386" height="12.425" transform="rotate(30 574.212 -44)" fill="#EDE52B"/>
    <rect x="521.212" y="-44" width="386" height="12.425" transform="rotate(30 521.212 -44)" fill="#EDE52B"/>
    <rect x="467.212" y="-44" width="386" height="12.425" transform="rotate(30 467.212 -44)" fill="#EDE52B"/>
    <rect x="420.212" y="-39" width="386" height="12.425" transform="rotate(30 420.212 -39)" fill="#EDE52B"/>
    <rect x="375.212" y="-33" width="386" height="12.425" transform="rotate(30 375.212 -33)" fill="#EDE52B"/>
    <rect x="325.212" y="-28" width="386" height="12.425" transform="rotate(30 325.212 -28)" fill="#EDE52B"/>
    <rect x="280.212" y="-22" width="386" height="12.425" transform="rotate(30 280.212 -22)" fill="#EDE52B"/>
    <rect x="224.212" y="-22" width="386" height="12.425" transform="rotate(30 224.212 -22)" fill="#EDE52B"/>
    <rect x="187.212" y="-11" width="386" height="12.425" transform="rotate(30 187.212 -11)" fill="#EDE52B"/>
    <rect x="155.212" y="5" width="386" height="12.425" transform="rotate(30 155.212 5)" fill="#EDE52B"/>
    <rect x="128.212" y="16" width="386" height="12.425" transform="rotate(30 128.212 16)" fill="#EDE52B"/>
    </g>
    <path d="M590.759 16H337V49.15H603.36V25.9019L590.759 16Z" stroke="black" stroke-width="5"/>
    <path d="M15.6012 292L269.36 292L269.36 258.85L3.00022 258.85L3.00021 282.098L15.6012 292Z" fill="black" stroke="black" stroke-width="5"/>
    <path d="M831.5 281H11.9995V37.0061L32 3H218.5L235.5 37.0061H859V253.5L831.5 281Z" fill="#EDE52B" stroke="black" stroke-width="5"/>
    <path d="M11.9995 281V37.0061H220.5L234.5 3H442.5L470 37.0061H859V253.5L831.499 281H11.9995Z" fill="#EDE52B" stroke="black" stroke-width="5"/>
    
    <foreignObject class = card x="30" y="85" width="820" height="180">
        <body xmlns="http://www.w3.org/1999/xhtml">
          <div class="corps" style="display:flex;flex-direction:column;gap:.5rem;overflow:hidden;">
            <p>
                01 Pensée logique;<br>
                02 Communication et travail d’équipe;<br>                
                03 Esprit créatif;<br>
                04 Capacité d’organisation;<br>
                05 Apprentissage autodidacte;<br>
                06 Travail en autonomie;<br>
            </p>
            <img src="cyber_brain.png" alt="test" class="" />
          </div>
        </body>
    </foreignObject>

</svg>


