  <div id="BACKGROUND">
  </div>

<svg class="deco" id="HG" width="286" height="69" viewBox="0 0 286 69" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M286 0L244.505 69L0.000199388 69L0 0L286 0Z" fill="var(--background-color)" />
  <foreignObject x="0" y="0" width="100%" height="100%">
      <section id="button_HG">
          <div id="contact">
              <a href="https://linktr.ee/tristan.regnier" target="_blank" rel="noopener">CONTACT</a>
          </div>
          <div id="linkedin">
              <a href="https://www.linkedin.com/in/tristan-regnier/" target="_blank" rel="noopener">
                  <img src="assets/media/icons/Linkedin.png" alt="Logo Linkedin">
              </a>
          </div>
      </section>
  </foreignObject>
</svg>

<svg class="deco" id="HD" width="93" height="93" viewBox="0 0 93 93" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.00924e-07 -8.13032e-06L93 93L93 0L5.00924e-07 -8.13032e-06Z" fill="var(--background-color)" />
</svg>

<svg class="deco" id="BD" width="286" height="69" viewBox="0 0 286 69" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 69L41.4955 1.51292e-06L286 2.28882e-05L286 69L0 69Z" fill="var(--background-color)" />
    <foreignObject x="0" y="0" width="100%" height="100%" style="">
        <div class="stats">
            <span>CURRENT: Cyber_Resume V2.2</span>
            <span>STATUS: Looking for a job</span>
        </div>
    </foreignObject>
</svg>

<svg class="deco" id="BG" width="93" height="93" viewBox="0 0 93 93" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M93 93L0 0L0 93L93 93Z" fill="var(--background-color)" />
</svg>

<img src="./assets/media/deco/Futuristic tech frame.png" id="techFrameCorner" alt="">
<!-- <video src="./assets/media/animation/visualizer.mp4" id="video" autoplay loop muted></video> -->
