
#BACKGROUND{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    background-image: linear-gradient(var(--secondary-color) 1px, transparent 1px), linear-gradient(to right, var(--secondary-color) 1px, transparent 1px);
	  background-size: 4vh 4vh; //Taille des carreaux
    z-index: -10;
}

  a{
    color : var(--background-color);
  }

.deco {
    position: fixed;
    z-index: 10;
    height: auto;
}

#HG {
    top: 0;
    left: 0;
    width: 15vw; //10%
    max-width: 250px; // 200px
    min-width: 200px;

}

#HD {
    top: 0;
    right: 0;
    width: 15vw; //10%
    max-width: 80px; // 200px
    min-width: 40px;

}

#BD {
    bottom: 0;
    right: 0;
    width: 15vw; //10%
    max-width: 250px; // 200px
    min-width: 200px;

}

#BG {
    bottom: 0;
    left: 0;
    width: 15vw; //10%
    max-width: 80px; // 200px
    min-width: 40px;

}

#button_HG{
  height: 100%;
  display: flex;
  flex-direction : row;
  align-items: center;
  margin-left: 5%;
  }

#contact {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 10px 20px;
  margin: 5%;
  height: 40%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:bold ;
}

#linkedin{
  background-color: var(--primary-color);

  border-radius: 30px;
  padding: 3%;
  width: 10%;
  height: 40%;

  img{
    width: 100%;
  }

}

#techFrameCorner{
  position : fixed;
  user-select: none;
  pointer-events: none;
  width: 20vw;
  right: 0%;
  top: 0px;
}

.stats{
  width: 100%;
  height: 100%;

  font-size: 0.8em;
  color: var(--primary-color);

  // background-color: rgba(60, 255, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}