<section class="svg-container ">
    <div id="onglet">
        <span >TEST</span>
        <span >X</span>
    </div>
    <svg width="100%" height="100%" viewBox="0 0 600 693" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 690V3H248.5L306 36.0275H597V690H3Z" fill="#EDE52B" stroke="black" stroke-width="5"/>
        <foreignObject x="20" y="60" width="94%" height="88%">
            <div class="text-container scrollable">
                <h2>2025 → &lt;/now&gt; Formation LDNR :</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</span>
                <br>
                <span>----------</span>

                <h2>2020 → 2025 Dessinateur en bureau d'étude :</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</span>
                <br>
                <span>----------</span>

                <h2>2020 → 2025 Dessinateur en bureau d'étude :</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</span>
                <br>
                <span>----------</span>
            </div>
        </foreignObject>
    </svg>
</section>
    