
.svg-container {
  aspect-ratio: 600 / 693;
  position: relative;
  // filter: drop-shadow(4px 4px 4px var(--secondary-color));
  /* Appliquer le filtre au conteneur parent pour une meilleure compatibilité */
}

/* Ligne qui va du SVG vers le centre du viewport */
.viewport-line {
  position: absolute;
  height: 5px;
  background-color: black;
  z-index: -1;
  pointer-events: none;
}
  .text-container{
    height: 100%;
    overflow-y: scroll;
    padding : 0 2%;

    ::ng-deep p {
      font-size: 1.3em;
      // line-height: 1.6;
    }
    
    // Styles pour les balises strong avec spécificité renforcée
    ::ng-deep strong {
        color: var(--primary-color) !important;        // Police jaune
        background-color: var(--background-color) !important; // Surlignage noir
        padding: 0px 3px !important;
        font-weight: normal !important;                // Enlever le gras
        
        // border-radius: 3px !important;
    }


}

.scrollable {
  overflow-y: auto;    
  scrollbar-color: var(--background-color) var(--primary-color);
  }
  
#Handle{
  position: absolute;
  top: 8%;
  right: 4%;
  width: 50%;
  height: 4%;
  // cursor : grab;
  /*Test*/
  // background-color: rgba(165, 42, 42, 0.295);
}

#svgHandle{
  z-index: -1;
  position: absolute;
  top: 2.2vw;
  left: 1vw;
}

#onglet{
  
  /*FLEXBOX*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  /*Position*/
    position: relative;
    top: 8%;
    padding:0.5% 3%;
    width : 38%;
    height :7%;

  /*Font*/
  font-size: 1vw;
  font-weight: 600;
  user-select: none; /* empêche la sélection du texte */

  /*Test*/
  // background-color: var(--link-color);
}

