<svg id="infoBulleSvg"
  width="445"
  height="300"
  viewBox="0 0 445 300"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M 332.5 10.5 V 72.4844 L 430.337 12.0029 L 333.175 115.791 L 332.5 116.513 V 297.5 H 28.126 L 2.5 268.552 V 10.5 H 332.5 Z"
    fill="#EDE52B"
    stroke="black"
    stroke-width="5"
  />
  <foreignObject x="18" y="20" width="305" height="550">
    <div class="InfoBulle">
        <img id="QrDeco2" src="/assets/media/icons/QR-Icon.png" alt="">
        <div>
            <p id = "barCode"> Im looking for a job </p>
        </div>
        <div>
            <p>
                Bonjour, moi c’est Tristan, je suis en pleine reconversion
                professionnelle. Je me lance dans ce qui me passionne depuis toujours :
                l’informatique ! Je suis extrêmement motivé pour apprendre et développer
                mes compétences dans ce domaine. Mon objectif est de devenir concepteur
                developpeur d'applications.
            </p>
      </div>
    </div>
  </foreignObject>
</svg>
