.svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  
  svg { // Positionner le SVG par rapport à son parent
    position: absolute;
    width: 100%;

    /*Test*/
    // background-color: rgba(116, 226, 43, 0.722);
  }
  
  /*Test*/
  // background-color: rgba(137, 43, 226, 0.722);
}

.carte { //Un onglet entier (loisirs ou skills)
  width: 100%; /* La carte prend 100% de la largeur dispo */
  height: auto; /* Hauteur s’adapte à son contenu */
}

//----- SKILLS -----
#SkillsCard { //Comportenent des élements a l"interieur de la carte skills
  /*-----FLEXBOX-----*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //overflow: hidden;

  /*----- TEXT -----*/
    font-size: 1.5rem;

  /*Test*/
  //background-color: rgb(0, 255, 0)

  .number { //Couleur des nombres
    color: var(--secondary-color);
  }
}

//----- LOISIRS -----
#Loisir{

  width: 75%;
  // height: 100%;
  // background-color: rgba(0, 255, 255, 0.581);
  padding: 1%;

  /*-----FLEXBOX-----*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  // align-items: flex-end;

  /*----- POSITION -----*/
  // width: 100%	;
  p{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

  .LoisirIcon{
    width: 22%;
    // height: 10%;
    margin: 1%;
  }

  img{
    aspect-ratio: 1 / 1;
    width: 40%;

    object-fit: contain;
    display: block;
    margin: 0 auto;
    // margin-top: 10px;
  }
}

#QrDeco{
  position: absolute;
  top: 3%;
  right: -3%;
  width: 15%;
}

//----- TAB SELECTOR & HANDLE -----
.bandeau-onglet{
  /*----- POSITION -----*/
  position :absolute;
  width: 100%;
  height: auto;

  top: 10%;
  left: 0.25%;
  /*unité de la police a revoir pas responsive*/
  font-size: 1.5vh;
  z-index: 3; //Le selector est toujours devant par rapport au carte avec un Z-index 1 et 2

  /*----- FLEXBOX -----*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;


  /*----- OTHERS -----*/
  user-select: none; /* empêche la sélection du texte */
  
  /*----- TEST -----*/
  // background-color: rgba(248, 5, 5, 0.3);
}

#selectorTab1{
  // cursor: pointer;
  /*----- FLEXBOX -----*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /*----- POSITION -----*/
  width: 21%;
  padding: 1% 2.2%;
  // margin-right: 25px;

  //Test
  // background-color:rgba(64, 183, 192, 0.5);
}

#selectorTab2{
  // cursor: pointer;
  /*----- FLEXBOX -----*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /*----- POSITION -----*/
  width: 22%;
  padding: 1% 2.5%;
  //Test
  // background-color: rgba(4, 40, 243, 0.5);
}

#Handle{
  // cursor : grab;
  // margin-left: 15px;
  // margin-top: 15px;
  width: 40%;
  height: auto;

  //Test
  // background-color: rgba(54, 210, 30, 0.665);
}
