<section class="svg-container" cdkDrag 
         (cdkDragMoved)="onDragMoved($event)"
         (click)="onWindowClick()"
         appViewportLine 
         [componentId]="componentId"
         [distancePercentage]="distancePercentage"
         [style.z-index]="windowZIndex">

  <!-- TAB SELECTOR AND HANDLE -->
  <div class="bandeau-onglet clickable">
    <div id="selectorTab1" (click)="showFirstTab()">
      <span>LO1SIRS</span>
      <span class="close-button" (click)="onCloseClick($event)">X</span>
    </div>
    <!-- Tab two -->
    <div id="selectorTab2" (click)="showSecondTab()">
      <span>SK1LLS</span>
      <span class="close-button" (click)="onCloseClick($event)">X</span>
    </div>
    <!-- Handle -->
    <div id="Handle" cdkDragHandle>
      <span>´</span>
    </div>
  </div>

  <!-- FIRST TAB LOISIRS -->
  <svg class="carte" [ngStyle]="{'z-index': skillsZIndex}" width="853" height="284"
    viewBox="0 0 853 284" fill="none" xmlns="http://www.w3.org/2000/svg">

    <path d="M781.501 14.7576H301.001V48.7576H791.001V24.9134L781.501 14.7576Z" fill="black" stroke="black"
      stroke-width="5" />
    <mask id="mask0_152_412" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="298" y="12" width="496" height="40">
      <path d="M783.501 14.7576H301.001V48.7576H791.001V24.9134L783.501 14.7576Z" fill="black" stroke="black"
        stroke-width="5" />
    </mask>
    <g mask="url(#mask0_152_412)">
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 509.15 -55.1675)"
        fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 459.198 -62.1774)"
        fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 408.303 -69.3198)"
        fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 363.331 -70.4316)"
        fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 335.756 -54.5449)"
        fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 272.31 -71.7667)"
        fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 229.088 -71.5935)"
        fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 176.309 -79)"
        fill="var(--primary-color)" />
      <rect width="375.028" height="12.563" transform="matrix(0.847858 0.530223 -0.470373 0.882468 798.344 -41.9091)"
        fill="var(--primary-color)" />
      <rect width="375.028" height="12.563" transform="matrix(0.847858 0.530223 -0.470373 0.882468 773.102 -22.3334)"
        fill="var(--primary-color)" />
      <path d="M684.53 -13.0607L973.545 228.182L966.237 238.345L677.223 -2.89733L684.53 -13.0607Z" fill="var(--primary-color)" />
      <path d="M684.53 -13.0607L973.545 228.182L966.237 238.345L677.223 -2.89733L684.53 -13.0607Z" fill="var(--primary-color)" />
      <path d="M726.163 -13.0607L1015.18 228.182L1007.87 238.345L718.856 -2.89733L726.163 -13.0607Z" fill="var(--primary-color)" />
      <path d="M726.163 -13.0607L1015.18 228.182L1007.87 238.345L718.856 -2.89733L726.163 -13.0607Z" fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 641.309 -12.8871)"
        fill="var(--primary-color)" />
      <rect width="376.467" height="12.5177" transform="matrix(0.767702 0.640807 -0.58377 0.811919 590.675 -20.8511)"
        fill="var(--primary-color)" />
      <rect width="375.028" height="12.563" transform="matrix(0.847858 0.530223 -0.470373 0.882468 158.524 -13.0607)"
        fill="var(--primary-color)" />
      <rect width="375.028" height="12.563" transform="matrix(0.847858 0.530223 -0.470373 0.882468 128.086 3.42419)"
        fill="var(--primary-color)" />
      <rect width="375.028" height="12.563" transform="matrix(0.847858 0.530223 -0.470373 0.882468 102.403 28)"
        fill="var(--primary-color)" />
      <path d="M782.001 14.7576H301.001V48.7576H791.001V24.9134L782.001 14.7576Z" stroke="black" stroke-width="5" />
    </g>
    <path d="M3 280.758V36.7637H211.5L225.5 2.75757H433.5L461 36.7637H850V253.258L822.5 280.758H3Z" fill="var(--primary-color)"
      stroke="black" stroke-width="5" />

    <!-- Intérieur de la carte -->
    <foreignObject x="30" y="40" width="830" height="240">
      <!--  
        x : Décale le forein vers la droite
        y : Décale le forein vers le bas
        width : Largeur du forein
        height : Hauteur du forein 
        -->
      <section xmlns="http://www.w3.org/1999/xhtml">
        <div id="SkillsCard">
          <!-- style="display:flex;flex-direction:column;gap:.5rem;overflow:hidden;" -->
          <!-- A49F26 Couleur a appliquer au numéros ! -->
          <p>
            <span class="number">01</span> Pensée logique;<br>
            <span class="number">02</span> Communication et travail d'équipe;<br>
            <span class="number">03</span> Esprit créatif;<br>
            <span class="number">04</span> Capacité d'organisation;<br>
            <span class="number">05</span> Apprentissage autodidacte;<br>
            <span class="number">06</span> Travail en autonomie;<br>
          </p>
          <img src="assets/media/icons/cyber_brain.png" alt="cyber brain image" style="margin : 2rem " />
        </div>
      </section>
    </foreignObject>
  </svg>

  <!-- SECOND TAB SKILLS -->
  <svg class="carte" [ngStyle]="{'z-index': loisirsZIndex}" width="853" height="284" viewBox="0 0 853 284"
    fill="none" xmlns="http://www.w3.org/2000/svg">

    <path d="M822.5 281H3V35V3H209.5L226.5 37.0061H850V253.5L822.5 281Z" fill="var(--primary-color)" stroke="black"
      stroke-width="5" />

    <!-- Intérieur de la carte -->
    <foreignObject id="test" x="8" y="40" width="100%" height="100%">
      <section id="Loisir">
          <!-- Premiere ligne de logo -->
         
            <div class="LoisirIcon clickable" role="button" tabindex="0" (click)="onClickAnimation('climb1')">
              <img src="assets/media/icons/Hiking.png" alt="">
              <p>Hiking</p>
            </div>
            <div class="LoisirIcon clickable" role="button" tabindex="0" (click)="onClickAnimation('idle-to-sit', 'sit-to-type' , 'type', 'type-to-sit', 'sit-to-idle')">
              <img src="assets/media/icons/CyberSec.png" alt="">
              <p>CyberSec</p>
            </div>
            <div class="LoisirIcon clickable" role="button" tabindex="0" (click)="onClickAnimation('boxe')">
              <img src="assets/media/icons/Boxing.png" alt="">
              <p>Boxing</p>
            </div>
            <div class="LoisirIcon clickable" role="button" tabindex="0" (click)="onClickAnimation('gun')">
              <img src="assets/media/icons/Shooting.png" alt="">
              <p>Shooting</p>
            </div>
            <div class="LoisirIcon clickable" role="button" tabindex="0" (click)="onClickAnimation('axe')">
              <img src="assets/media/icons/Axe.png" alt="">
              <p>Forging</p>
            </div>
            <div class="LoisirIcon clickable" role="button" tabindex="0" (click)="onClickAnimation('idle-to-sit', 'sit-to-type' , 'type', 'type-to-sit', 'sit-to-idle')">
              <img src="assets/media/icons/Graphism.png" alt="">
              <p>Graphism</p>
            </div>
            <div class="LoisirIcon clickable" role="button" tabindex="0" (click)="onClickAnimation('idle-to-sit', 'sit-to-type' , 'type', 'type-to-sit', 'sit-to-idle')">
              <img src="assets/media/icons/3D.png" alt="">
              <p>3D</p>
            </div>
            <div class="LoisirIcon clickable" role="button" tabindex="0" (click)="onClickAnimation('guitar')">
              <img src="assets/media/icons/Guitar.png" alt="">
              <p>Guitar</p>
            </div>
          </section>
      <!-- Section avec le Qr code de déco -->
      <div id="QrDeco">
        <img src="assets/media/icons/QR-Icon.png" alt="">
      </div>
    </foreignObject>

  </svg>

</section>