@use 'variables' as *;

//Modification de la couleur de selection par default
::selection {
    background: $background-color;
    color:$primary-color;
  }
  
::-moz-selection {
    background: $background-color;
    color:$primary-color;
  }

  * {
  font-family: 'JetBrains Mono', monospace;
} 

main {
  height: 100%;
  box-sizing: border-box;
  // background-color: #EDE52B;
  // background-color: $primary-color;
  border: 15px solid black;
}

// Positionnement des composants principaux
#infoBulle {
  width: 30%; //Taille de l'info bulle en fonction de la taille de l'écran
  min-width: 300px;
  position: absolute;
  top: 60%;
  left: 20%;
}

#rollingScript {
  // width: 30%; //On affecte la largeur dans le composant
  position: absolute;
  top: 40%;
  left: 70%;
}