
//Modification de la couleur de selection par default
::selection {
    background: var(--background-color);
    color: var(--primary-color);
  }
  
::-moz-selection {
    background: var(--background-color);
    color: var(--primary-color);
  }

// Style de la police
  * {
  font-family: 'JetBrains Mono', monospace;
}

main {
  height: 100%;
  box-sizing: border-box;
  border: 15px solid var(--background-color);
}

.mainHeader {
  /*Position*/
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  text-align: center;
  /*Flexbox*/
  display: flex;
  flex-direction: column;
  /*General titre*/
  h1,h2,h3 {
    margin: 0;
    padding: 0;
    color: var(--background-color);
  }

  h1{
    font-size: 2.5vw;
    letter-spacing:1.5vw;
    font-weight:900;
  }
  
  h3{
    font-family: "Libre Barcode 39";
    font-size: 2.5vw;
    font-weight: 100;
  }
  
  h2{
    position: relative;
    top: -0.8vw; //Pour que le titre soit plus centré
    font-size: 1vw;
    letter-spacing: 0.55vw;
  }
  /*Test*/
  // background-color: chartreuse;
}
// Positionnement des composants principaux
#loisirSkills{ //Skills ou Loisirs
  position: absolute;
  width: 32%;
  // min-width: 500px;
  bottom: 35%;
  left: 60%;
}
#infoBulle {
  width: 17%; //Taille de l'info bulle en fonction de la taille de l'écran
  min-width: 200px;
  position: absolute;
  top: 22%;
  left: 31%;
}
#rollingScript1 {
  // width: 30%; //On affecte la largeur dans le composant
  position: absolute;
  top: 63%;
  left: 1.5%;
  // width: 11vw;
  // height: 13.5vw;
}

// #rollingScript2 {
//   // width: 30%; //On affecte la largeur dans le composant
//   position: absolute;
//   top: 20%;
//   left: 42.5%;
//   z-index: -1;
//   // width: 1vw;
//   // height: 13.5vh;
// }

#personalInfo { //Experience
  width: 20%; //On affecte la largeur dans le composant
  position: absolute;
  top: 8%;
  right: 5%;
}
#menu {
  position: absolute;
  top: 33%;
  left: 1.5%;
  width: 9%;
  // min-width: 200px;
  // background-color: rgba(210, 105, 30, 0.801);
}

#userInformations {
  position: absolute;
  top: 4.5vh;
  left: 1.5vw;
  // top: 50%;
  // left: 50%;
  width: 17%;
  // min-width: 200px;
}

#competances {
  position: absolute;
  bottom: 5vh;
  left: 15vw;
  // top: 50%;
  // left: 50%;
  width: 25%;
  // min-width: 300px;
  // max-width: 400px;
}

#portfolio {
  position: absolute;
  width: 100vw;
  height: auto;
  // max-width: 1200px;
  // max-height: 800px;
}
