<section class="svg-container">
    <svg width="450" height="295" viewBox="0 0 450 295" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M420.83 22H195V55.15H432.045V31.9019L420.83 22Z" fill="var(--background-color)" stroke="var(--background-color)" stroke-width="5"/>
        <path d="M14.2145 292L240.045 292L240.045 258.85L3.00029 258.85L3.00029 282.098L14.2145 292Z" fill="var(--background-color)" stroke="var(--background-color)" stroke-width="5"/>
        <path d="M11.0732 280.95V3.00001H191.242L233.44 37H447V280.95H11.0732Z" fill="var(--primary-color)" stroke="var(--background-color)" stroke-width="5"/>
        <foreignObject x="6" y="6" width="450" height="500">
            <div id="onglet" >
                <span>USER-INFO</span>
                <span class="clickable">X</span>
            </div>
        </foreignObject>
        <foreignObject x="8" y="40" width="450" height="450">
            <div class="user-informations">
                <a href="https://linktr.ee/tristan.regnier" target="_blank" class="qr-link">
                    <img id="QrDeco2" src="assets/media/icons/QR-Code.png" alt="Qr-code" class="clickable-qr">
                </a>
                <span class="contact-info clickable" role="button" tabindex="0" (click)="onClickAnimation('call')">{{ phoneNumber }}</span>
                <span class="contact-info clickable" role="button" tabindex="0" (click)="onClickAnimation('call')">{{ email }}</span>
                <span>lvl 26</span>
                <span>permis B</span>
                <span>Toulouse+</span>
                <span class="barCode">HelloThere</span>
            </div>
        </foreignObject>
    </svg>
</section>
    