svg {
    width: 100%;
    // height: auto;
    // max-width: 450px;
  }

.user-informations {

    padding: 5%;
    font-size: 1vw;
    color: var(--background-color); // Utilise la couleur de fond comme couleur de texte

    span{
        margin-top: 0.5vh;
    }

    .barCode{
        font-family: "Libre Barcode 39";
        font-size: 3vw;
        margin-top: 2vh;
        color: var(--background-color); // Utilise la couleur de fond pour le code-barres
    }

    /*Flexbox*/
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;

    /*Test*/
        // background-color: rgba(255, 0, 0, 0.4);
}

#onglet{
    /*FLEXBOX*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    /*Position*/
        position: absolute;
        // top: 8%;
        padding:0.5% 3%;
        width : 38%;
        height :7%;

    /*Font*/
        font-size: 1.2vw;
        font-weight: 600;
        user-select: none; /* empêche la sélection du texte */
        color: var(--background-color); // Utilise la couleur de fond pour le texte de l'onglet

    /*Test*/
        // background-color: rgba(42, 130, 165, 0.451);
}

.contact-info {
  // cursor: pointer;
  transition: all 0.3s ease;
  color: var(--background-color); // Utilise la couleur de fond pour les informations de contact
  
  &:hover {
    // color: #007bff;
    text-decoration: underline;
  }
  
  &:active {
    transform: scale(0.95);
  }
}

#QrDeco2{
    position: absolute;
    width: 100px;
    top: 130px;
    right: 22px;
}


