/* You can add global styles to this file, and also import other style files */
img {
  -webkit-user-drag: none; /* Pas d'image draggable */
}

html, body {
  height: 100%;
  margin: 0;
  cursor: none !important;
}

a {
  text-decoration: none;
}
