/* You can add global styles to this file, and also import other style files */

/* ===== POLICES PERSONNALISÉES ===== */
@font-face {
  font-family: 'CyberAlert';
  src: url('./app/assets/font/Cyber-Alert.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optimisation du chargement */
}

/* ===== VARIABLES CSS ===== */
// Il faut que la secondary color soit la même que la primary color mais avec une opacité de 0.5 dynamiquement
:root {
  --primary-color: #ede62c;
  // --primary-color: #c8ff00;
  --secondary-color: rgba(0, 0, 0, 0.322);
  --background-color: rgb(0, 0, 0);
  --text-color: rgb(51, 51, 51);
  --link-color: rgb(33, 150, 243);
  --cyber-font: 'CyberAlert', 'JetBrains Mono', monospace;
}
/* ===== FIN VARIABLES CSS ===== */

/* ===== RÈGLES GLOBALES ===== */
img {
  -webkit-user-drag: none; /* Pas d'image draggable */
}

html, body {
  height: 100%;
  margin: 0;
  cursor: none !important;
  overflow: hidden;
  /* Optimisations de performance */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* Réduire les reflows */
  // will-change: auto;
}

a {
  text-decoration: none;
  cursor : none;
}
/* ===== FIN RÈGLES GLOBALES ===== */
