<nav>
    <ul>
        <li>
            <svg width="217" height="49" viewBox="0 0 217 49" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="toggleMenu(0)">
                <path d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z" 
                      [class]="getPathClass(0)"
                      [attr.stroke-width]="getStrokeWidth()"/>
                <foreignObject x="0" y="0" width="217" height="49" >
                    <div class="menuItem">
                        <a href="" [class]="getLinkClass(0)">EXPER1ENCES</a>                
                    </div>
                </foreignObject>
            </svg>
        </li>
        <li>
            <svg width="217" height="49" viewBox="0 0 217 49" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="toggleMenu(1)">
                <path d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z" 
                      [class]="getPathClass(1)"
                      [attr.stroke-width]="getStrokeWidth()"/>
                <foreignObject x="0" y="0" width="217" height="49" >
                    <div class="menuItem">
                        <a href="" [class]="getLinkClass(1)">COMP3TANCES</a>                
                    </div>
                </foreignObject>
            </svg>
        </li>
        <li>
            <svg width="217" height="49" viewBox="0 0 217 49" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="toggleMenu(2)">
                <path d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z" 
                      [class]="getPathClass(2)"
                      [attr.stroke-width]="getStrokeWidth()"/>
                <foreignObject x="0" y="0" width="217" height="49" >
                    <div class="menuItem">
                        <a href="" [class]="getLinkClass(2)">SK1LLS</a>                
                    </div>
                </foreignObject>
            </svg>
        </li>
        <li>
            <svg width="217" height="49" viewBox="0 0 217 49" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="toggleMenu(3)">
                <path d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z" 
                      [class]="getPathClass(3)"
                      [attr.stroke-width]="getStrokeWidth()"/>
                <foreignObject x="0" y="0" width="217" height="49" >
                    <div class="menuItem">
                        <a href="" [class]="getLinkClass(3)">LOISIRS</a>                
                    </div>
                </foreignObject>
            </svg>
        </li>
        <li>
            <svg width="217" height="49" viewBox="0 0 217 49" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="toggleMenu(4)">
                <path d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z" 
                      [class]="getPathClass(4)"
                      [attr.stroke-width]="getStrokeWidth()"/>
                <foreignObject x="0" y="0" width="217" height="49" >
                    <div class="menuItem">
                        <a href="" [class]="getLinkClass(4)">PORTFOL1O</a>                
                    </div>
                </foreignObject>
            </svg>
        </li>
    </ul>
</nav>
