<div class="menuContainer">
  <ul>
    <li>
      <svg
        width="217"
        height="49"
        viewBox="0 0 217 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="toggleMenu(0)"
      >
        <path
          d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z"
          [class]="getPathClass(0)"
          [attr.stroke-width]="getStrokeWidth()"
        />
        <foreignObject x="0" y="0" width="217" height="49">
          <div class="menuItem">
            <a href="" [class]="getLinkClass(0)">EXPER1ENCES</a>
          </div>
        </foreignObject>
      </svg>
    </li>
    <li>
      <svg
        width="217"
        height="49"
        viewBox="0 0 217 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="toggleMenu(1)"
      >
        <path
          d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z"
          [class]="getPathClass(1)"
          [attr.stroke-width]="getStrokeWidth()"
        />
        <foreignObject x="0" y="0" width="217" height="49">
          <div class="menuItem">
            <a href="" [class]="getLinkClass(1)">C0MP3TANCES</a>
          </div>
        </foreignObject>
      </svg>
    </li>
    <li>
      <svg
        width="217"
        height="49"
        viewBox="0 0 217 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="toggleMenu(2)"
      >
        <path
          d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z"
          [class]="getPathClass(2)"
          [attr.stroke-width]="getStrokeWidth()"
        />
        <foreignObject x="0" y="0" width="217" height="49">
          <div class="menuItem">
            <a href="" [class]="getLinkClass(2)">SK1LLS</a>
          </div>
        </foreignObject>
      </svg>
    </li>
    <li>
      <svg
        width="217"
        height="49"
        viewBox="0 0 217 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="toggleMenu(3)"
      >
        <path
          d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z"
          [class]="getPathClass(3)"
          [attr.stroke-width]="getStrokeWidth()"
        />
        <foreignObject x="0" y="0" width="217" height="49">
          <div class="menuItem">
            <a href="" [class]="getLinkClass(3)">L0IS1RS</a>
          </div>
        </foreignObject>
      </svg>
    </li>
    <li>
      <svg
        width="217"
        height="49"
        viewBox="0 0 217 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        (click)="toggleMenu(4)"
      >
        <path
          d="M14.6292 0L0 18V49H201.396L217 31.5V0H14.6292Z"
          [class]="getPathClass(4)"
          [attr.stroke-width]="getStrokeWidth()"
        />
        <foreignObject x="0" y="0" width="217" height="49">
          <div class="menuItem">
            <a href="" [class]="getLinkClass(4)">P0RTFOL10</a>
          </div>
        </foreignObject>
      </svg>
    </li>
  </ul>

  <!-- ⚠️ Boutons de test pour le changement dynamique des couleurs ⚠️ -->
  <!-- A transferer dans le composant colorSelector -->
  <!-- <div
    class="color-controls"
    style="
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.8);
      padding: 10px;
      border-radius: 5px;
    "
  >
    <h4 style="color: white; margin: 0 0 10px 0">Test Couleurs</h4>
    <button
      (click)="setPrimaryColor('#ff0000')"
      style="
        background: #ff0000;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 2px;
        border-radius: 3px;
      "
    >
      Rouge
    </button>
    <button
      (click)="setPrimaryColor('#00ff00')"
      style="
        background: #00ff00;
        color: black;
        border: none;
        padding: 5px 10px;
        margin: 2px;
        border-radius: 3px;
      "
    >
      Vert
    </button>
    <button
      (click)="setPrimaryColor('#0000ff')"
      style="
        background: #0000ff;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 2px;
        border-radius: 3px;
      "
    >
      Bleu
    </button>
    <button
      (click)="setPrimaryColor('rgba(237, 229, 43, 1)')"
      style="
        background: rgba(237, 229, 43, 1);
        color: black;
        border: none;
        padding: 5px 10px;
        margin: 2px;
        border-radius: 3px;
      "
    >
      Original
    </button>
  </div> -->
</div>
